.container {
	max-width: 680px;
	width: 100%;
}

.container img {
	width: 5%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	gap: 0.3rem;
	font-weight: 500;
	background-color: #f55a5a;
	color: white;
}

.body {
	padding: 4rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

p {
	text-align: center;
	font-weight: 600;
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	.container {
		margin: 100px auto;
	}

	.container img {
		width: 4%;
	}

	.body {
		padding: 4rem 1rem;
	}
}
